*{
    margin: 0px;
    padding: 0px;
}



body {
    background-image: url("../img/darkdesk.jpg");
    background-repeat: no-repeat;
    background-position: 50% 70%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.01);
    outline: none;
}

div#corpo-form{
  /*  background-color:red;*/
    width: 420px;
    margin: 130 auto 0px auto;
} 

div#corpo-form-cad{
    /*  background-color:red;*/
      width: 420px;
      margin: 80px auto 0px auto;
  } 

div#corpo-form h1, #corpo-form-cad h1 {
    text-align: center;
    padding: 20px;
}

a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
}

a:hover{
    text-decoration: underline;
}

input[type=submit]{
    background-color: #FF0066;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}



/*WEBKIT PARA MUDAR COR DO PLACEHOLDER */

::-webkit-input-placeholder { /* Webkit Browser */
    color: #fff;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff
}

::-moz-placeholder { /*Mozilla Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff
}